.header{
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);;
    transition: 0.3 ease-in;
}


.navbar{
    display: flex;
    justify-content: end;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
}

.header .nav-item{
    padding: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.nav-menu{
    display: flex;
    gap: 60px;
}

.item-link {
    text-decoration: none;
    color: black;
}

.item-link.active{
    color: rgb(41, 180, 20);
}

.item-link:hover {
    padding-bottom: 8px;
    color: rgb(41, 180, 20);
    transition: color 0.2s ease-in-out;
}